@import url(./font.css);
*,
*::after,
*::before {
  font-family: "kanit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 249, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: bold;
  font-weight: 800;
}
.course_list {
  width: 50rem;
  height: 100%;
}
.course_img {
  width: 25rem;
  height: 100%;
}
.course_img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.courseitem_details {
  width: 100%;
  height: 100%;
}
.courseitem_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.course_item {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  margin-bottom: 1rem;
}
.title {
  font-weight: 900;
}
.desc {
  color: rgb(148, 146, 146);
  font-weight: 400;
}

.description_course {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  margin-top: 0.4rem;
}
.btn-course {
  outline: none;
  border: none;
  background-color: rgb(233, 231, 231);
  padding: 0.25rem;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(76, 75, 75);
}
.date-desc {
  color: rgb(172, 171, 171);
  font-weight: 200;
}
.course-rate {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1.5rem;
}
.btn {
  outline: none;
  border: none;
  padding: 0.3rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
.primary {
  background-color: rgb(220, 245, 245);
  color: rgb(15, 15, 167);
}
.secondary {
  background-color: rgb(169, 245, 176);
  color: rgb(0, 83, 22);
}
.danger {
  background-color: rgb(241, 181, 181);
  color: rgb(151, 18, 18);
}
.course-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.course-title .active {
  font-weight: 700;
  color: rgb(57, 56, 56);
  background-color: rgb(251, 251, 251);
  padding: 0.5rem;
  border-radius: 8px;
}
.footer {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}
